<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" >Raporlar</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--  -->
    
<!-- <div class="container">
  <div class="row">
    <div class="col">
      <dx-chart
      id="chart"
      [dataSource]="raporListesi"
      palette="violet">
      <dxo-common-series-settings 
          argumentField="Kat_Adi"
          type="bar"
          valueField="Mak_Baslik">
      </dxo-common-series-settings>
      <dxo-series-template  
          nameField="Tarih"
          [customizeSeries]="customizeSeries">
      </dxo-series-template>
      <dxo-title text="Son 5 Adet Makale Listesi">
          <dxo-subtitle text="kategori ve yazıldıkları tarihleri ile birlikte"></dxo-subtitle>
      </dxo-title>
      <dxo-legend 
          verticalAlignment="bottom"
          horizontalAlignment="center">
      </dxo-legend>
      <dxo-export [enabled]="true"></dxo-export>
    </dx-chart>
    </div>
    <div class="col">
      <dx-chart
      id="chart"
      [dataSource]="raporListesi"
      palette="violet">
      <dxo-common-series-settings 
          argumentField="Kat_Adi"
          type="bar"
          valueField="Mak_Baslik">
      </dxo-common-series-settings>
      <dxo-series-template  
          nameField="Tarih"
          [customizeSeries]="customizeSeries">
      </dxo-series-template>
      <dxo-title text="Son 5 Adet Makale Listesi">
          <dxo-subtitle text="kategori ve yazıldıkları tarihleri ile birlikte"></dxo-subtitle>
      </dxo-title>
      <dxo-legend 
          verticalAlignment="bottom"
          horizontalAlignment="center">
      </dxo-legend>
      <dxo-export [enabled]="true"></dxo-export>
    </dx-chart>
    </div>
  </div>
</div> -->

</ion-content>


