
<ion-header>
  <ion-toolbar class="toolbar" >
    
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="light"></ion-menu-button>
  </ion-buttons>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <ion-title color="light">
       Makale Detay
    </ion-title>
   
  </ion-toolbar>
</ion-header>



<ion-content >


<!--   
<div class="card" *ngFor="let makale of makaleBilgisi" > 
  <div class="card-header">
    {{makale.MakaleBaslik}}
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p> {{makale.MakaleIcerik}}</p>
      <footer class="blockquote-footer"> {{makale.MakaleTarih}} <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div> -->


<!-- <div class="container" >
  <div class="card" *ngFor="let makale of makaleBilgisi">
      <div class="card-header">
    {{makale.MakaleBaslik}}
  </div>
  </div>
</div> -->
<!-- 
<div class="container " style="height: 100%; background-color: #f6f6f6">
  <div >
        <ion-searchbar placeholder="aranacak kelimeyi giriniz" (keypress)="makaleAraKeyPress($event)"
          [(ngModel)]="aranan"></ion-searchbar>
  </div>
  <div class="row">
      <div class="col" *ngFor="let makale of makaleBilgisi">
          <div class="card" style="width: 100%;">
              <div >
                  <div ><span style ="font-style: italic; text-align:center;"class="text-black-50">{{makale.MakaleBaslik}}</span><span class="ratings"></span></div>
              </div>
              
               <span class="text-black-50">{{makale.MakaleIcerik}}</span>
              <div class="d-flex justify-content-between install mt-3"><span></span><span class="text-primary">&nbsp;<i class="fa fa-angle-right"></i></span></div>
          </div>
      </div>
      
  </div>
</div> -->

<div class='hero' >
<div class="container"  style="margin-top:50px; " *ngFor="let makale of makaleBilgisi">
  
  <h1 class="text-center">{{makale.MakaleBaslik}}</h1>
  
  <blockquote >
    <p class="font-weight-light">{{makale.MakaleIcerik}}</p>
    <footer>{{makale.MakaleTarih}} tarihinde {{makale.KullaniciAdi}} tarafından yazıldı</footer>
  </blockquote>
</div>
</div>
</ion-content>
