ion-content{

    --ion-background-color:#f3f3f3
    ;
}
.hero
{
  background-color: rgb(255, 255, 255);
  // margin-left: 20%;
  // margin-right: 20%;
}
  .toolbar
  {
    --background: #355C7D;
  }

  body {
    background: #eee
  }
  
  .ratings i {
    color: green
  }
  
  .install span {
    font-size: 12px
  }
  
  .col-md-4 {
    margin-top: 27px
  }
  