<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="light"></ion-menu-button>
  </ion-buttons>

 
    <ion-title color="light">Yönetim</ion-title>
    <!-- <a href="../home/home.page.html"> uygulamaya git</a> -->
   
    
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 
</ion-content>

<!-- <div class = "bar bar-footer ">
 
  
    <div id="container">
        <div id="part1">
            <div id="companyinfo"> <a id="sitelink" href="https://www.zensoft.com.tr/anasayfa">Zensoft Yazılım A.Ş.</a>
                <p id="title">Çözüm odaklı yazılım merkezi</p>
                <p id="detail">SDÜ Doğu Yerleşkesi Göller Bölgesi Teknokenti Kat:4 Merkez / ISPARTA

                  +90 246 222 22 77
                  
                  info@zensoft.com.tr </p>
            </div>
            <div id="explore">
                <p id="txt1"> Keşfedin</p> <a class="link" href="https://www.zensoft.com.tr/anasayfa">Anasayfa</a> <a class="link" href="https://www.zensoft.com.tr/sayfa-detay/10/hakkimizda">Hakkımızda</a> <a class="link" href="https://www.zensoft.com.tr/sayfa-detay/7/iletisim">İletişim</a> <a class="link" href="https://www.zensoft.com.tr/sayfa-detay/13/yardim">Yardım</a>
            </div>
            <div id="visit">
                <p id="txt2">Yazılım Çözümlerimiz</p>
                <a class="link" href="https://mobil320.com">Mobil Saha Satış</a>
                <a class="link" href="https://mobil320.com">Perakende Satış</a>
                <a class="link" href="https://mobil320.com">B2B - B2C</a>
                <a class="link" href="https://mobil320.com">Tüp Takip</a>
                <a class="link" href="https://gastropos.com.tr">Cafe&Restaurant</a>
            </div>
            <div id="legal">
                <p id="txt3">Yasal</p> <a class="link1" href="https://www.zensoft.com.tr/sayfa-detay/14/satis-sozlesmesi-ve-iade">Şartlar ve koşullar</a> <a class="link1" href="https://www.zensoft.com.tr/sayfa-detay/51/gizlilik-sozlesmesi">Gizlilik Sözleşmesi</a>
            </div>
            <div id="subscribe">
                <p id="txt4">Bültene abone olun</p>
                <form> <input id="email" type="email" placeholder="Email"> </form> <a  class="waves-effect waves-white btn">Abone Ol</a>
                <p id="txt5">Bize Katılın</p> <i class="fab fa-facebook-square social fa-2x"></i> <i class="fab fa-linkedin social fa-2x"></i> <i class="fab fa-twitter-square social fa-2x"></i>
            </div>
        </div>
        <div id="part2">
            <p id="txt6"><i class="material-icons tiny"> copyright</i> Zensoft Yazılım A.Ş. 2021 Bütün hakları saklıdır</p>
        </div>
    </div>

</div> -->