<ion-header > 
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" >Kategoriler</ion-title>
  

  <ion-button shape="round" size="small"  slot="end" color="success" (click)="ekleGuncelle(kategori)" ><ion-icon  name="add"></ion-icon>
    
  </ion-button>

  
  

  </ion-toolbar>
    

</ion-header>


<ion-content >
<div id="container">
  <div style="padding: 5px;border-top: 1px solid lightgray">
              
    <ion-list style="padding:0;margin:0">
      <ion-item style="padding:0" class="label-margin-0">
        <ion-searchbar placeholder="aranacak kelimeyi giriniz" (keypress)="kategoriAraKeyPress($event)"
          [(ngModel)]="aranan"></ion-searchbar>
        
      </ion-item>
    </ion-list>
  </div>
  <div id="data-grid-demo">
    <dx-data-grid 
        id="gridContainer"
        [dataSource]="kategoriListesi"
        keyExpr="ID"
        [showBorders]="true">
        
        <dxo-paging [enabled]="false"></dxo-paging>
        
        
        
        <dxi-column dataField="Kat_Adi" caption="Kategori Adı" ></dxi-column>
        <dxi-column dataField="Kat_Aciklama" caption="Kategori Açıklaması" ></dxi-column>
        
        <dxi-column caption="İşlemler" [hidingPriority]="5" cellTemplate="islemlerTemplate" [width]="150">
        </dxi-column>
        <div *dxTemplate="let data of 'islemlerTemplate'">
          
          <dx-button stylingMode="text" [width]="75" type="success" icon="edit"  (onClick)="duzenle(data)">
          </dx-button>
          <dx-button stylingMode="text" [width]="75" type="danger" icon="trash"  (onClick)="sil(data)">
          </dx-button>
      </div>
        
        
    </dx-data-grid>  
</div>
</div>
</ion-content>