<ion-header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <ion-toolbar class="toolbar" >
    
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="light"></ion-menu-button>
  </ion-buttons>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  


   
    <ion-title color="light">
      Anasayfa 
    </ion-title>
    
  
  </ion-toolbar>
  
  <!-- <div style="padding: 5px;border-top: 1px solid lightgray">
              
    <ion-list style="padding:0;margin:0">
      <ion-item style="padding:0" class="label-margin-0">
        <ion-searchbar placeholder="aranacak kelimeyi giriniz" (keypress)="makaleAraKeyPress($event)"
          [(ngModel)]="aranan"></ion-searchbar>
        
      </ion-item>
    </ion-list>
  </div> -->

</ion-header>
<ion-content >
 
<div class="container py-4" style="height: 100%; background-color: #f6f6f6">
  <div >
        <ion-searchbar placeholder="aranacak kelimeyi giriniz" (keypress)="makaleAraKeyPress($event)"
          [(ngModel)]="aranan"></ion-searchbar>
  </div>
  <div class="row">
      <div class="col-md-4" *ngFor="let kategori of genelListe">
          <div class="card p-3" id="kategori.ID" (click)="go(kategori)">
              <div class="d-flex flex-row mb-3"><img src={{kategori.MedyaYolu}} width="70">
                  <div class="d-flex flex-column ml-2"><span class="text-black-50">{{kategori.Kat_Adi}}</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
              </div>
              
               <span class="text-black-50">{{kategori.Kat_Aciklama}}</span>
              <div class="d-flex justify-content-between install mt-3"><span></span><span class="text-primary">&nbsp;<i class="fa fa-angle-right"></i></span></div>
          </div>
      </div>
      
  </div>
</div>

</ion-content>
