
//     //background-image: url("../../assets/imgs/post2.jpg");


//     ion-card {
//       position: relative;
//       text-align: center;
//       margin: 0px;
//       // width: 25%;
//       // height: 25%;
//     }
//     .customers{
//       width: 75px;
//       height: 75px;
//       color: #075763;

//     }
    .toolbar
    {
      --background: #355C7D;
    }


body {
  background: #eee
}

.ratings i {
  color: green
}

.install span {
  font-size: 12px
}

.col-md-4 {
  margin-top: 27px
}
